h1{
    color:black
}
.navbar-dark{
    color: black;
}
.jumbotron{
    background-color: grey;
}
.display-4{
    font-size:100px;
    font-family: 'Roboto', sans-serif;
}
.fas {
    margin-right:200px;
}
.navbar-brand{
    margin-right: 200px;
    font-size:20px;
}
.logo{
    width:120px;
    font-color:black;
}
